* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

html, body {
    height: 100%;
}

/* VIDEO FUNDO */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

/* OVERLAY */
body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

/* BODY */
body {
    font-family: "Anton", sans-serif;
    color: white;
}

/* TÍTULO */
.content {
    text-align: center;
    margin-top: 40px;
}

h1 {
    font-size: 70px;
}

/* HEADER */
header {
    text-align: center;
    margin: 20px;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BLOCOS */
.bloco {
    background: rgba(0,0,0,0.7);
    padding: 25px;
    margin: 20px;
    width: 80%;
    max-width: 600px;

    transform: skew(-10deg);
    transition: 0.3s;
}

.bloco * {
    transform: skew(10deg);
}

.bloco:hover {
    background: rgb(9, 60, 189);
    transform: skew(-10deg) scale(1.05);
}

/* 🔥 ETIQUETA (PLAYER) */
.etiqueta {
    display: flex;
    align-items: center;
    gap: 8px;

    background: rgba(13, 0, 255, 0.464);
    padding: 9px;
    width: 180px;

    position: fixed;
    bottom: 10px;

    /* 🔥 COMEÇA FORA DA TELA */
    left: -250px;

    border: 5px solid rgba(0, 0, 0, 0.74);

    transform: skew(-10deg);
    transition: 0.5s ease;
}

/* 🔥 ENTRA NA TELA */
.etiqueta.show {
    left: 10px;
}

/* corrige skew interno */
.etiqueta * {
    transform: skew(10deg);
}

/* VINIL */
.vinil {
    width: 60px;
    animation: girar 3s linear infinite;
}

/* HOVER */
.etiqueta:hover {
    border-color: rgba(255, 255, 255, 0.656);
}

/* TITULOS */
h2 {
    margin-bottom: 10px;
}

/* LISTA */
.list {
    margin-top: 10px;
}
